@font-face {
    font-family: "Laurentian Std";
    src: url("./fonts/laurentian-std.otf");
}

@font-face {
    font-family: "Seravek";
    src: url("./fonts/seravek.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Reportes-general{
    height: 3508px;
    width: 2480px;
    position: relative;
    padding: 102px 81px 102px 80px;
}

.Reportes-margen{
    width: 2319px;
    height: 3304px;
}

.TopInfo-general{
    width: 861px;
    height: 221.22px;
    display: flex;
    flex-direction: row;
}

.TopInfo-logo{
    width: 200px;
    height: 221.22px;
}

.TopInfo-texto{
    margin-left: 4px;
    margin-top: 104px;
}
.TopInfo-smart{
    width: 154px;
    height: 51px;
    font-family: "Laurentian Std";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    color: #000000;
    margin-bottom: 9px;
}
.TopInfo-titulo{
    width: 657px;
    height: 52px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    color: #000000;
}

.InfoAlumno-Caracter-general{
    height: 412.94px;
    width: 2240px;
    margin-left: 79px;
    display: flex;
    flex-direction: row;
    margin-top: 105.78px;
}
.InfoAlumno-general{
    width: 1012px;
    height: 412.94px;
    margin-right: 203px;
}

.InfoAlumno-titulo{
    width: 778px;
    height: 131.08px;
    font-family: "Laurentian Std";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    display: flex;
    align-items: center;
    color: #B28A52;
    margin-left: 163px;
}

.InfoAlumno-nombre-sexo-general{
    width: 1012px;
    height: 66.91px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.InfoAlumno-nombre-general{
    height: 626px;
    height: 66.91px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.InfoAlumno-nombre{
    height: 49px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.InfoAlumno-nombre-nombrealumno{
    height: 49px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.InfoAlumno-sexo-general{
    width: 281px;
    height: 49px;
    display: flex;
    flex-direction: row;
}

.InfoAlumno-sexo{
    height: 49px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.InfoAlumno-sexo-sexoalumno{
    height: 49px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.InfoAlumno-carrera-general{
    width: 1012px;
    height: 66.91px;
    display: flex;
    flex-direction: row;
    margin-top: 40.69px;
}

.InfoAlumno-carrera{
    height: 66.91px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.InfoAlumno-carrera-carreraAlumno{
    height: 66.91px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.InfoAlumno-id-fecha{
    height: 66.91px;
    width: 1012px;
    display: flex;
    flex-direction: row;
    margin-top: 40.52px;
}

.InfoAlumno-id-general{
    height: 66.91px;
    width: 202px;
    margin-right: 56px;
    display: flex;
    flex-direction: row;
}

.InfoAlumno-id{
    height: 66.91px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.InfoAlumno-id-idAlumno{
    height: 66.91px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.InfoAlumno-fecha-general{
    height: 49px;
    width: 305px;
    display: flex;
    flex-direction: row;
}

.InfoAlumno-fecha{
    width: 105px;
    height: 49px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
    margin-right: 11px;
}

.InfoAlumno-fecha-fecha{
    width: 189px;
    height: 49px;
    font-family: "Seravek";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    text-align: center;
}

.Caracter-general{
    width: 1025px;
    height: 407px;
    margin-top: 5.94px;
    background-color: #EFEFEF;
    border-radius: 50px 0px 0px 50px;
}

.Caracter-info-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 59px;
    width: 956px;
    height: 407px;
    margin-right: 45px;
    background-color: #EFEFEF;
    border-radius: 50px 0px 0px 50px;
}

.Caracter-info{
    width: 563px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: #EFEFEF;
    margin-left: 24px;
}

.Caracter-info-tipo{
    font-family: "Seravek";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EFEFEF;
    margin-bottom: 30px;
}

.Caracter-info-descripcion{
    font-family: "Seravek";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EFEFEF;
}

.Caracter-img{
    width: 334px;
    height: 334px;
    border-radius: 50px 0px 0px 50px;   
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #EFEFEF;
}

.ValoresAlumno-general{
    width: 2319px;
    height: 833px;
    display: flex;
    flex-direction: column;
    margin: 50px 3px 50px 3px;
    align-items: center;
}

.ValoresAlumno-titulo{
    width: 612px;
    height: 96px;
    font-family: "Laurentian Std";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    display: flex;
    align-items: center;
    color: #B28A52;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ValoresAlumno-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 2319px;
    height: 317px;
    margin-top: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ValoresAlumno-top-conocimiento{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 530px;
    height: 317px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Top-conocimiento-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 530px;
    height: 150px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Conocimiento-titulo-general{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 333px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Conocimiento-titulo-imgGeneral{
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Conocimiento-titulo-img{
    width: 55px;
    height: 45px;
}

.Conocimiento-titulo{
    width: 253px;
    height: 49px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Conocimiento-quantity-general{
    width: 109.76px;
    height: 150px;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.Conocimiento-grafic{
    width: 109.76px;
    height: 109.76px;
}

.Conocimiento-quantity{
    width: 87.8px;
    height: 40.24px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
}

.Top-conocimiento-info{
    width: 528px;
    height: 147px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ValoresAlumno-top-material{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 530px;
    height: 317px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Top-material-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 530px;
    height: 150px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Material-titulo-general{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 373px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Material-titulo-imgGeneral{
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Material-titulo-img{
    width: 25px;
    height: 45px;
}

.Material-titulo{
    width: 293px;
    height: 98px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Material-quantity-general{
    width: 109.76px;
    height: 150px;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.Material-grafic{
    width: 109.76px;
    height: 109.76px;
}

.Material-quantity{
    width: 87.8px;
    height: 40.24px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
}

.Top-material-info{
    width: 528px;
    height: 147px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ValoresAlumno-top-arte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 530px;
    height: 317px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.Top-arte-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 530px;
    height: 150px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Arte-titulo-general{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 304px;
    height: 98px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Arte-titulo-imgGeneral{
    width: 60px;
    height: 60px;  
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Arte-titulo-img{
    width: 50px;
    height: 49.73px;
}

.Arte-titulo{
    width: 224px;
    height: 98px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Arte-quantity-general{
    width: 109.76px;
    height: 150px;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.Arte-grafic{
    width: 109.756px;
    height: 109.756px;
}

.Arte-quantity{
    width: 87.8px;
    height: 40.24px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
}

.Top-arte-info{
    width: 528px;
    height: 147px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.ValoresAlumno-top-ayuda{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;   
    gap: 20px;
    width: 530px;
    height: 317px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.Top-ayuda-top{
    display: flex;
    width: 530px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 530px;
    height: 150px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Ayuda-titulo-general{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 328.24px;
    height: 52.25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Ayuda-titulo-imgGeneral{
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Ayuda-titulo-img{
    width: 52.25px;
    height: 52.25px;
}

.Ayuda-titulo{
    width: 256px;
    height: 49px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Ayuda-quantity-general{
    width: 109.76px;
    height: 150px;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.Ayuda-grafic{
    width: 109.76px;
    height: 109.76px;
}

.Ayuda-quantity{
    width: 87.8px;
    height: 40.24px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #000000;
    justify-content: center;
}

.Top-ayuda-info{
    width: 528px;
    height: 147px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ValoresAlumno-bottom{
    display: flex;
    width: 1770px;
    height: 317px;
    align-items: center;
    gap: 90px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 73px;
}

.ValoresAlumno-bottom-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Bottom-status-top{
    display: flex;
    width: 530px;
    justify-content: space-between;
    align-items: center;
}

.Status-titulo-general{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Status-titulo-img{
    width: 60px;
    height: 60px;
}

.Status-titulo{

    color: #000;
    font-size: 40px;
    font-family: "Seravek";
    font-weight: 700;
}

.Status-quantity-general{
    width: 109.756px;
    height: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Status-grafic{
    width: 109.756px;
    height: 109.756px;
    flex-shrink: 0;
    
}

.Status-quantity{
    display: flex;
    width: 61.463px;
    height: 40.244px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-family: "Seravek";
}

.Top-Status-info{
    display: flex;
    width: 528px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: "Seravek";
}

.ValoresAlumno-bottom-calidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Top-calidad-top{
    display: flex;
    width: 530px;
    justify-content: space-between;
    align-items: center;
}

.Calidad-titulo-general{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Calidad-titulo-img{
    width: 60px;
    height: 60px;
}

.Calidad-titulo{
    color: #000;
    font-size: 40px;
    font-family: "Seravek";
    font-weight: 700;
}

.Calidad-quantity-general{
    width: 107.143px;
    height: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Calidad-grafic{
    width: 107.143px;
    height: 107.143px;
    flex-shrink: 0;
}

.Calidad-quantity{
    display: flex;
    width: 60.714px;
    height: 39.286px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    font-size: 30px;
    font-family: "Seravek";
}

.Top-calidad-info{
    display: flex;
    width: 528px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: "Seravek";
}

.ValoresAlumno-bottom-salud{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Top-salud-top{
    display: flex;
    width: 530px;
    justify-content: space-between;
    align-items: center;
}

.Salud-titulo-general{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Salud-titulo-img{
    width: 60px;
    height: 60px;
}

.Salud-titulo{
    color: #000;
    font-size: 40px;
    font-family: "Seravek";
    font-weight: 700;
}

.Salud-quantity-general{
    width: 109.756px;
    height: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Salud-grafic{
    width: 109.756px;
    height: 109.756px;
    flex-shrink: 0;
}

.Salud-quantity{
    display: flex;
    width: 87.805px;
    height: 40.244px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    color: #000;
    font-size: 30px;
    font-family: "Seravek";
}

.Top-salud-info{
    display: flex;
    width: 528px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: "Seravek";
}

.Caracter-Metodos-general{
    width: 2315px;
    height: 569px;
    display: flex;
    flex-direction: row;
    gap: 63px;
}

.Caracter2-general{
    width: 1089px;
    height: 569px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #EFEFEF;
}

.Caracter2-info-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;
    width: 1059px;
    height: 569px;
    margin-right: 28px;
    margin-left: 2px;
    background-color: #EFEFEF;
    border-radius: 0px 50px 50px 0px;
    flex-shrink: 0;
}

.Caracter2-info{
    display: flex;
    width: 632px;
    height: 407px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #EFEFEF;
}

.Caracter2-info-tipo{
    font-family: "Seravek";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #EFEFEF;
    
}

.Caracter2-info-descripcion{
    font-family: "Seravek";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #EFEFEF;
    margin-top: 42px;
}

.Caracter2-img{
    width: 334px;
    height: 334px;
    border-radius: 0px 50px 50px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: #EFEFEF;
}

.Metodos-general{
    width: 1163px;
    height: 568px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Metodos-titulo{
    color: #B28A52;
    font-size: 80px;
    font-family: "Laurentian Std";
    font-style: normal;
    font-weight: 400;
    width: 628px;
    height: 96px;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 11px;
}

.Metodos-top{
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
}

.Metodos-frame-general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 296px;
    height: 206px;
    min-width: 148px;
    flex: none;
}

.Frame-img{
    width: 100px;
    height: 100px;
}

.Frame-text{
    color: #000;
    text-align: center;
    font-family: "Seravek";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 296px;
    min-width: 148px;
    height: 86px;
}

.Metodos-bottom{
    display: inline-flex;
    align-items: flex-end;
    gap: 60px;
    margin-top: 49px;
}

.AreasAyuda-HabilidadesLectura-general{
    width: 2321px;
    height: 1013px;
    display: flex;
    flex-direction: row;
    gap: 112px;
    margin-top: 50px;
}

.AreasAyuda-general{
    width: 1090px;
    height: 1013px;
    border-radius: 0px 50px 0px 0px;
    border-top: 10px solid #B28A52;
    border-right: 10px solid #B28A52;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Titulo-general{
    height: 843px;
    width: 84px;
    order: 0;

    margin-right: 61px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.AreasAyuda-titulo{
    transform: rotate(-90deg);
    color: #B28A52;
    text-align: center;
    font-family: "Laurentian Std";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    height: 84px;
    width: 843px;
    line-height: normal;
}

.AreasAyuda-valores{
    width: 747px;
    height: 630px;
    order: 1;
    flex-shrink: 0;
    margin: auto;
    display: grid;
    gap: 50px;
}

.Valores-top{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.Valores-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 290px;
    width: 209px;
}

.Valores-frame-img{
    width: 150px;
    height: 150px;

}

.Valores-frame-text{
    color: #000;
    text-align: center;
    font-family: "Seravek";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Valores-bottom{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.HabilidadesLectura{
    width: 1120px;
    height: 1113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.HabilidadesLectura-titulo{
    color: #B28A52;
    font-family: "Laurentian Std";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.HabilidadesLectura-velocidad{
    display: flex;
    width: 1099px;
    align-items: center;
    gap: 30px;
}

.Velocidad-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.Velocidad-titulo{
    color: #000;
    font-family: "Seravek";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Velocidad-desc{
    display: flex;
    width: 694px;
    height: 309px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: "Seravek";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Velocidad-img{
    width: 353.191px;
    height: 200px;
    flex-shrink: 0;
}


.HabilidadesLectura-comprension{
    display: flex;
    width: 1119px;
    align-items: center;
    gap: 30px;
}

.Comprension-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.Comprension-titulo{
    color: #000;
    font-family: "Seravek";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Comprension-desc{
    display: flex;
    width: 729px;
    height: 309px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: "Seravek";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Comprension-img{
    width: 329.248px;
    height: 200px;
    flex-shrink: 0;
}